<!-- Quote + Images -->
<div class="bg-[#1D1E1F] px-4 py-4 flex justify-between items-center">
    <p class="text-white font-bold text-lg">Photos</p>
    <p class="text-sky-400 font-semibold text-sm cursor-pointer">See all</p>
  </div>
  
  <div class="flex bg-[#1D1E1F] pb-10 justify-center gap-4">
    <div class="block gap-5">
      <img src="/images/402004.webp" class="w-[150px] object-cover rounded-lg m-1" />
      <img src="/images/402005.webp" class="w-[150px] object-cover rounded-lg m-1" />
    </div>
    <div>
      <img src="/images/402006.6.webp" class="w-[450px] object-cover rounded-lg" />
    </div>
    <div class="block">
      <img src="/images/402007.webp" class="w-[150px] object-cover rounded-lg m-1" />
      <img src="/images/402008.webp" class="w-[150px] object-cover rounded-lg m-1" />
    </div>
    <div>
      <img src="/images/402003.6.webp" class="w-[450px] object-cover rounded-lg m-1" />
    </div>
  </div>
  
  <div class="bg-black text-center px-4 py-6">
    <div class="flex justify-center mb-2">
      <img src="/images/quote.svg" class="w-5 h-5" />
    </div>
    <h2 class="text-lg font-semibold">Don't nick the part-time offspinner</h2>
    <h3 class="text-sm font-light">Steven Smith still isn't over his dismissal off Markram</h3>
    <p class="text-sm mt-2">Share ~ See all</p>
  </div>
  
  <%- include('foot03', { foot03Sections }) %> ✅

  
  <hr class="border-gray-700" />
  <div class="bg-[#2b2c2d] text-gray-400 px-4 py-2 flex justify-between text-xs">
    <p>Terms of Use | Privacy Policy | Feedback</p>
    <p>© 2025 ESPN Sports Media Ltd. All rights reserved</p>
  </div>
  