<div class="bg-sky-600 px-4 py-1">
    <div class="flex space-x-3 text-sm overflow-x-auto" id="root1">
      <% navItems.forEach(item => { %>
        <span><%= item.name %>(<%= item.count %>)</span>
      <% }) %>
    </div>
  </div>
  